@model FinanceCalculator.Web.ViewModels.LeasingCalcResultsVM


<ul class="list-group">
    <li class="list-group-item">ГОДИШЕН ПРОЦЕНТЕН РАЗХОД: @Model.AnnualPercentRate %</li>
    <li class="list-group-item">ОБЩО ИЗПЛАТЕНО С ТАКСИ:  @Model.TotalPaidWithFees BGN</li>
    <li class="list-group-item">ОБЩО ТАКСИ:  @Model.TotalFees BGN</li>
</ul>