@{
    ViewBag.Title = "Финансов Калкулатор";
}

<header class="jumbotron my-4">
    <h1 class="display-4">Финансовият калкулатор, който използваш</h1>
    <p class="lead">Трябва ти кредит, но не знаеш скритите условия и такси, и хилядите тежки формули, по които се смята дължимото ? Разбери само с няколко клика, използвайки нашия <i><b>финансов калкулатор</b></i></p>
</header>

<div class="row text-center">
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="../Content/images/finance_calculator_card_background.png" alt="Финансов калкулатор">
            <div class="card-body">
                <h4 class="card-title">Финансов калкулатор</h4>
                <p class="card-text">Пресметнете месечни вноски и ГПР (годишен процент на разходите)</p>
            </div>
            <div class="card-footer">
                <a href="/Home/FinanceCalculator" class="btn btn-primary">Към калкулатора</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="../Content/images/refinancing_calculator_card_background.png" alt="Калкулатор за рефинансиране">
            <div class="card-body">
                <h4 class="card-title">Калкулатор за рефинансиране</h4>
                <p class="card-text">Пресметни дали рефинансирането на задълженията ти е изгодно</p>
            </div>
            <div class="card-footer">
                <a href="/Home/RefinancingCalculator" class="btn btn-primary">Към калкулатора</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="../Content/images/leasing_calculator_card_background.png" alt="Лизингов калкулатор">
            <div class="card-body">
                <h4 class="card-title">Лизингов калкулатор</h4>
                <p class="card-text">Пресметнете оскъпяването на стоката, закупена чрез лизинг</p>
            </div>
            <div class="card-footer">
                <a href="/Home/LeasingCalculator" class="btn btn-primary">Към калкулатора</a>
            </div>
        </div>
    </div>
</div>
